{% macro footer() -%}
<!-- Footer -->
<div id="footer-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-8 col-12-medium">

				<section>
					<h2>References</h2>
					<div>
						<blockquote style="margin:40px;">
							<p>Yeongmin Ko, Jiwon Jun, Donghwuy Ko, & Moongu Jeon. (2020). Key Points Estimation and Point Instance Segmentation Approach for Lane Detection. <a href="https://github.com/koyeongmin/PINet" rel="noreferrer">https://github.com/koyeongmin/PINet</a></p>
							<p>Newell, J. (2016). Stacked Hourglass Networks for Human Pose Estimation. In <i>Computer Vision – ECCV 2016</i> (pp. 483–499). Springer International Publishing.<a href="https://arxiv.org/abs/1603.06937" rel="noreferrer">https://arxiv.org/abs/1603.06937</a></p>
						</blockquote>
					</div>
				</section>

			</div>
		</div>
	</div>
</div>
{%- endmacro %}
