{% macro members() -%}
	<div class="col-md-4 col-sm-12">

		<section>
			<h2>Group Members</h2>
			<ul class="small-image-list">
				<li>
					<h4>Cheng Yanru</h4>
					<p>Email: chengyr@connect.hku.hk 
					<br> UID: 3035658375</p>
				</li>
				<li>
					<h4>Huang Jingxuan</h4>
					<p>Email: u3565637@connect.hku.hk 
					<br> UID: 3035656377</p>
				</li>
				<li>
					<h4>Li Ling</h4>
					<p>Email: lilingcs@connect.hku.hk 
					<br> UID: 3035656119</p>
				</li>
				<li>
					<h4>Tong Li</h4>
					<p>Email: tongli@connect.hku.hk 
					<br> UID: 3035657620</p>
				</li>
			</ul>
		</section>

	</div>
{%- endmacro %}
