{% macro navitems(idx) -%}
<!-- Header -->
<div id="header-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<header id="header">
					<h1><a href="/templates/index.html" id="logo">End-to-End Lane Detection</a></h1>
					<nav id="nav">
						<a href="/templates/index.html" {% if idx == 0 %}class="current-page-item"{% endif %}>Demo</a>
						<a href="/templates/live.html" {% if idx == 1 %}class="current-page-item"{% endif %}>Live Demo</a>
						<a href="/templates/progress.html" {% if idx == 2 %}class="current-page-item"{% endif %}>Project Progress</a>
						<a href="/templates/model.html" {% if idx == 3 %}class="current-page-item"{% endif %}>Model Decription</a>
					</nav>
				</header>

			</div>
		</div>
	</div>
</div>
{%- endmacro %}
